<ion-content>

  <ion-row class="modal-row-padding ion-text-center">
    <ion-col size="4">
      <div class="attachment-icon">
        <i class="fa fa-file-o icon-area" aria-hidden="true"></i>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="camera-icon" (click)="takePhoto()">
        <i class="fa fa-camera icon-area" aria-hidden="true"></i>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="gallery-icon" (click)="choosePhoto()">
        <i class="fa fa-picture-o icon-area" aria-hidden="true"></i>
      </div>
    </ion-col>
  </ion-row>

</ion-content>