.modal-row-padding {
    padding: 20px;
    padding-left: 13%;
}

.icon-area {
    padding-top: 25%;
}

.attachment-icon {
    background-image: linear-gradient(#561ea5, #a078d2);
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.camera-icon {
    background-image: linear-gradient(#931d31, #d06376);
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.gallery-icon {
    background-image: linear-gradient(#0636ef, #7079ed);
    color: white;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}