<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Rajput Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-searchbar class="search-background-color" (ionInput)="searchList($event)"></ion-searchbar>

  <div *ngFor="let loopUserData of userFilterList"
    style="border-bottom: 2px solid rgba(163, 163, 163, 0.61); height: 80px;">

    <div (click)="createChat(loopUserData)" style="width: 20%; float: left;">
      <img src="{{loopUserData.DP}}" width="50px" height="50px"
        style="border-radius: 50%; margin-left: 10px; margin-top: 10px;" />
    </div>

    <div (click)="createChat(loopUserData)" style="width: 80%;  float: left;">
      <p style="font-size: 17px; color: rgb(114, 113, 113); margin-top: 7px; text-transform: capitalize;">
        <b>{{loopUserData.Name}}</b>
      </p>
      <p style="text-transform: capitalize ;font-size: 12px; color: rgb(73, 218, 6); margin-top: -10px;"><b>(
          {{loopUserData.Country}} ,
          {{loopUserData.City}} , {{loopUserData.Area}} )</b></p>
      <p style="font-size: 10px; color: rgb(218, 13, 6); margin-top: -5px;">( {{loopUserData.isAdmin == 1 ? 'Admin' :
        'Member'}} )</p>
    </div>
  </div>



</ion-content>