<!--
  Generated template for the FoundationLandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <img src="../../assets/img/dh1.png" />
</ion-header>

<ion-content>


  <div class="row" style="margin-top: 15%;">
    <div (click)="logout()" style="float: left; width: 50%;">
      <img src="../../assets/img/dh2.jpeg" />
    </div>
    <div (click)="goToNewChat()" style="float: left; width: 50%;">
      <img src="../../assets/img/dh3.jpeg" />
    </div>

  </div>


  <div class="row">

    <div (click)="takePicture()" style="float: left; width: 50%;">
      <img src="../../assets/img/dh4.jpeg" />
    </div>
    <div (click)="goToNewChatDetails()" style="float: left; width: 50%;">
      <img src="../../assets/img/dh5.jpeg" />
    </div>
  </div>


  <div class="row">
    <div style="float: left; width: 50%;">
      <img src="../../assets/img/dh6.jpeg" />
    </div>
    <div style="float: left; width: 50%;">
      <img src="../../assets/img/dh7.jpeg" />
    </div>

  </div>


</ion-content>

<ion-footer>
  <img src="../../assets/img/dh8.png" />
</ion-footer>